<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <style>
      body {
        display: flex;
        align-items: center;
        flex-direction: column;
        font-family: sans-serif;
        color: #000000;
        background-color: #c9c9c9;
      }

      strong {
        color: #303644;
        font-weight: 600;
      }
      p {
        text-align: justify;
      }
      h4 {
        text-align: justify;
      }
      .imagem {
        width: 320px;
      }
    </style>
  </head>
  <body>
    <h1>Olá <strong>{{student_name}}</strong>, tudo bem?</h1>
    <p>
      O curso <strong>{{course_name}}</strong> da
      <i> <strong class="avalanche">Avalanche Cursos®™</strong> </i>foi
      atualizado e tem uma nova lição!
    </p>
    <h4>Pronto para <strong>{{lesson_name}}</strong>? 🥵</h4>
    <br />
    <img
      class="imagem"
      src="https://images.vexels.com/media/users/3/137475/isolated/preview/0b9a257dcf1c24b3a8c5439a13fd5ff4-escalada-de-montanha.png"
      alt="montain"
    />
  </body>
</html>
